body {
  padding-top: 5rem;
  background-color: pink;
}

.body-aboutus{
  background-image: url(../concert1.jpg);
  background-color:black;
  background-repeat:repeat-x, no-repeat;
  align-items: center;
}

h1{
  font-family: freestyle script;
  font-size: 5rem
}
div{
  color: white;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;

}

.lead{
  font-style: strong;
  text-shadow: black;
}

.spinner-border {
  position: absolute;
  right: 40px;
  margin-right:0;
}
.concert-image{
    width: 800px;
    height: 500px;
    /* align-self: center; */
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}
.navbar-color{
  color: white;
}
.navbar-light{
  color:pink;
}
.padding-l{
  padding-left: 60px;
}
.navbar-brand{
  color: pink;
}
.navbar-brand:hover{
  color:black;
  font-weight:strong;
}

.nav-item a {
  color:black;
}

.nav-item a:hover{
  color:pink;
  font-weight:strong;
}

.btn-light{
  color: pink;
}

.btn-light2{
  background-color: white;
  color:black;
}

.btn-light2:hover{
  color:pink;
}
.card-text2{
  color:pink;
}

.btn-secondary{
  background-color: white;
  border-color: white;
  color: pink;
}
.dropdown-item{
  color: pink;
}
.col-sm{
  text-align: center;
}
.stretched-link{
  color: white;
}
